@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Great Branching Assignment   2/27/2023  Enterprise.Net</h1>
    <p>We will look at creating branches in GitHub and then merging the branches.</p>
</div>
